.header {
    margin: 0 auto 0 auto;
    padding: 30px 10px 10px 10px;
    text-align: center;
    width: 100%;
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.45);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 0 10px var(--btn-bg-color);
}