.navbar {
    width: 100%;
    padding: 10px;
    margin: 20px auto;
}
.navbar-brand {
    margin: 10px 10px;
}
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nav-link {
    color: #ffffff;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    padding: 5px;
    border-radius: 5px;
}
.nav-link:hover {
    color: #ffffff;
    background-color: var(--btn-bg-color);
    transform: translateY(-2px);
    transition: color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 10px var(--btn-bg-color);
}
.nav-link:focus {
    transform: translateY(0);
    background-color: var(--btn-bg-color);
    color: #ffffff;
    transition: color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 10px var(--btn-bg-color);
}
.navbar-toggler {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-width: 1px;
}
.navbar-toggler-icon {
    outline: none;
    box-shadow: 0 0 5px white;
    color: white;
}
.navbar-toggler-icon:active {
    outline: none;
    box-shadow: 0 0 5px white;
    color: white;
}